html,
body {
	@apply h-full;
}

:root {
	/* =~= Theme On-X Colors =~= */
	--on-bronze: 255 255 255;
	--on-silver: 255 255 255;
	--on-gold: 0 0 0;
	--on-platinum: 0 0 0;
	--on-diamond: 0 0 0;
	--on-master: 0 0 0;
	--on-grandmaster: 0 0 0;
	--on-top500: 0 0 0;
	/* =~= Theme Colors  =~= */
	/* bronze | #8C5B30 */
	--color-bronze-50: 238 230 224; /* ⬅ #eee6e0 */
	--color-bronze-100: 232 222 214; /* ⬅ #e8ded6 */
	--color-bronze-200: 226 214 203; /* ⬅ #e2d6cb */
	--color-bronze-300: 209 189 172; /* ⬅ #d1bdac */
	--color-bronze-400: 175 140 110; /* ⬅ #af8c6e */
	--color-bronze-500: 140 91 48; /* ⬅ #8C5B30 */
	--color-bronze-600: 126 82 43; /* ⬅ #7e522b */
	--color-bronze-700: 105 68 36; /* ⬅ #694424 */
	--color-bronze-800: 84 55 29; /* ⬅ #54371d */
	--color-bronze-900: 69 45 24; /* ⬅ #452d18 */
	/* silver | #6C6C6C */
	--color-silver-50: 233 233 233; /* ⬅ #e9e9e9 */
	--color-silver-100: 226 226 226; /* ⬅ #e2e2e2 */
	--color-silver-200: 218 218 218; /* ⬅ #dadada */
	--color-silver-300: 196 196 196; /* ⬅ #c4c4c4 */
	--color-silver-400: 152 152 152; /* ⬅ #989898 */
	--color-silver-500: 108 108 108; /* ⬅ #6C6C6C */
	--color-silver-600: 97 97 97; /* ⬅ #616161 */
	--color-silver-700: 81 81 81; /* ⬅ #515151 */
	--color-silver-800: 65 65 65; /* ⬅ #414141 */
	--color-silver-900: 53 53 53; /* ⬅ #353535 */
	/* gold | #d8b064 */
	--color-gold-50: 249 243 232; /* ⬅ #f9f3e8 */
	--color-gold-100: 247 239 224; /* ⬅ #f7efe0 */
	--color-gold-200: 245 235 216; /* ⬅ #f5ebd8 */
	--color-gold-300: 239 223 193; /* ⬅ #efdfc1 */
	--color-gold-400: 228 200 147; /* ⬅ #e4c893 */
	--color-gold-500: 216 176 100; /* ⬅ #d8b064 */
	--color-gold-600: 194 158 90; /* ⬅ #c29e5a */
	--color-gold-700: 162 132 75; /* ⬅ #a2844b */
	--color-gold-800: 130 106 60; /* ⬅ #826a3c */
	--color-gold-900: 106 86 49; /* ⬅ #6a5631 */
	/* platinum | #b9c6ca */
	--color-platinum-50: 245 246 247; /* ⬅ #f5f6f7 */
	--color-platinum-100: 241 244 244; /* ⬅ #f1f4f4 */
	--color-platinum-200: 238 241 242; /* ⬅ #eef1f2 */
	--color-platinum-300: 227 232 234; /* ⬅ #e3e8ea */
	--color-platinum-400: 206 215 218; /* ⬅ #ced7da */
	--color-platinum-500: 185 198 202; /* ⬅ #b9c6ca */
	--color-platinum-600: 167 178 182; /* ⬅ #a7b2b6 */
	--color-platinum-700: 139 149 152; /* ⬅ #8b9598 */
	--color-platinum-800: 111 119 121; /* ⬅ #6f7779 */
	--color-platinum-900: 91 97 99; /* ⬅ #5b6163 */
	/* diamond | #638de9 */
	--color-diamond-50: 232 238 252; /* ⬅ #e8eefc */
	--color-diamond-100: 224 232 251; /* ⬅ #e0e8fb */
	--color-diamond-200: 216 227 250; /* ⬅ #d8e3fa */
	--color-diamond-300: 193 209 246; /* ⬅ #c1d1f6 */
	--color-diamond-400: 146 175 240; /* ⬅ #92aff0 */
	--color-diamond-500: 99 141 233; /* ⬅ #638de9 */
	--color-diamond-600: 89 127 210; /* ⬅ #597fd2 */
	--color-diamond-700: 74 106 175; /* ⬅ #4a6aaf */
	--color-diamond-800: 59 85 140; /* ⬅ #3b558c */
	--color-diamond-900: 49 69 114; /* ⬅ #314572 */
	/* master | #ffab0f */
	--color-master-50: 255 242 219; /* ⬅ #fff2db */
	--color-master-100: 255 238 207; /* ⬅ #ffeecf */
	--color-master-200: 255 234 195; /* ⬅ #ffeac3 */
	--color-master-300: 255 221 159; /* ⬅ #ffdd9f */
	--color-master-400: 255 196 87; /* ⬅ #ffc457 */
	--color-master-500: 255 171 15; /* ⬅ #ffab0f */
	--color-master-600: 230 154 14; /* ⬅ #e69a0e */
	--color-master-700: 191 128 11; /* ⬅ #bf800b */
	--color-master-800: 153 103 9; /* ⬅ #996709 */
	--color-master-900: 125 84 7; /* ⬅ #7d5407 */
	/* grandmaster | #5bc5fb */
	--color-grandmaster-50: 230 246 254; /* ⬅ #e6f6fe */
	--color-grandmaster-100: 222 243 254; /* ⬅ #def3fe */
	--color-grandmaster-200: 214 241 254; /* ⬅ #d6f1fe */
	--color-grandmaster-300: 189 232 253; /* ⬅ #bde8fd */
	--color-grandmaster-400: 140 214 252; /* ⬅ #8cd6fc */
	--color-grandmaster-500: 91 197 251; /* ⬅ #5bc5fb */
	--color-grandmaster-600: 82 177 226; /* ⬅ #52b1e2 */
	--color-grandmaster-700: 68 148 188; /* ⬅ #4494bc */
	--color-grandmaster-800: 55 118 151; /* ⬅ #377697 */
	--color-grandmaster-900: 45 97 123; /* ⬅ #2d617b */
	/* top500 | #f5dd69 */
	--color-top500-50: 254 250 233; /* ⬅ #fefae9 */
	--color-top500-100: 253 248 225; /* ⬅ #fdf8e1 */
	--color-top500-200: 253 247 218; /* ⬅ #fdf7da */
	--color-top500-300: 251 241 195; /* ⬅ #fbf1c3 */
	--color-top500-400: 248 231 150; /* ⬅ #f8e796 */
	--color-top500-500: 245 221 105; /* ⬅ #f5dd69 */
	--color-top500-600: 221 199 95; /* ⬅ #ddc75f */
	--color-top500-700: 184 166 79; /* ⬅ #b8a64f */
	--color-top500-800: 147 133 63; /* ⬅ #93853f */
	--color-top500-900: 120 108 51; /* ⬅ #786c33 */
}
